.header {
  padding-top: 25px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav-list {
    list-style: none;
    display: flex;
    font-size: 22px;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 50px;

    li {
      padding: 0 30px;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;

    &.is-active {

      a {
        color: white;
      }

      svg path {
        fill: white;
      }
    }

    svg {
      display: block;
      margin-right: 10px;
      width: 20px;

      path {
        @include hoverEffect;
        
        fill: $primary-color;
      }
    }

    a {
      @include hoverEffect;

      text-decoration: none;
      display: flex;
      align-items: center;

      &:hover {
        color: white;

        svg path {
          fill: white;
        }
      }
    }
  }

  &__logo {
    position: relative;
  }

  &__logo-appendix {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    svg {
      width: 120px;
      display: block;
    }
  }
}