.header {
  padding-top: 25px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}