.not-found {
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;

    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &__number {
      font-size: 130px;
      line-height: 130px;
      margin-bottom: 20px;
    }
  
    &__message {
      margin-bottom: 40px;
      font-size: 30px;
    }

    &__info {
      font-size: 30px;

      &.is-first {
        margin-top: 100px;
      }

      &.is-second {
        margin-top: 40px;
        text-align: center;
      }
    }
  }