.lessons-page {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        padding-top: 100px;
        padding-bottom: 50px;
        color: white;
    }

    &__content {
        background-color: $background-secondary;
        flex-grow: 1;
        padding-top: 80px;
        padding-bottom: 180px;
    }
}