.functionality-page {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__spacer {
        padding-top: 50px;
    }

    &__section {
        background-color: $background-secondary;
        flex-grow: 1;
    }

    &__body {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}