.lesson-card {
    
    &__box {
        border: 1px solid $primary-color;
        position: relative;
        display: block;
        background-size: 101%;
        background-position: center;

        &:hover {
            border-color: white;
        }
    }

    &__inner {
        padding-bottom: 100%;
    }

    &__footer {
        padding-top: 10px;
        font-size: 20px;
    }

    &__statistics {
        text-decoration: none;
        position: absolute;
        bottom: 14px;
        right: 20px;
        color: white;
        display: flex;
    }

    &__statistics-item {
        display: flex;
        justify-content: center;
        padding-left: 20px;
    }

    &__statistics-icon {
        height: 30px;
    }

    &__statistics-number {
        margin-left: 7px;
        font-weight: bold;
        margin-top: 2px;
    }
}