.button {
  @include hoverEffect;
  
  background-color: $primary-color;
  text-decoration: none;
  color: white;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  display: inline-block;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }

  &:active {
    background-color: $primary-color;
  }

  &--type {

    &--outlined {
      background-color: transparent;
      border: 2px solid $primary-color;
      color: $primary-color;

      &:hover {
        background-color: transparent;
        color: white;
      }
    }
  }
}