html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: $background-primary;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

p {
  font-size: 22px;
}

ul {
  margin: 0;
  padding: 0;
}

.debug {
  color: #969692;
}

a {
  color: $primary-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}