.back-button {
  border: 2px solid $primary-color;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 3px;
  box-sizing: border-box;
}